<%-include('../initials/header')%>
<div class="home">
    <a href="/createclass">Add class</a>
    <a href="createteacher">Add Teacher</a>
    <a href="createstudent">Add Student</a>
    <a href="classes">Total Classes</a>
    <a href="students">Total Students</a>
</div>


<%-include('../initials/footer')%>