<%- include('../initials/header') %>


<h2 class="success"><%=type%>  Added Successfully<div class="checkmark"></div></h2><br>
<a href="/" class="back-btn">Return to home</a>

<%-include('../initials/footer') %>